@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css";
:root {
    --bg-light-color: white;
    --main-light-color: #0d1117;
}
body {
    background-color: var(--bg-light-color);
    color: var(--main-light-color);
}
header{
    border-bottom: 2px solid var(--main-light-color);
    color:var(--main-light-color);
    background-color: var(--bg-light-color);
}
code::-webkit-scrollbar-track,
.vertical-menu-content::-webkit-scrollbar-track{
    background: transparent;
}

code::-webkit-scrollbar-thumb,
.vertical-menu-content::-webkit-scrollbar-thumb{
    background-color: var(--main-light-color);
}
code::-webkit-scrollbar-thumb:hover,
.vertical-menu-content::-webkit-scrollbar-thumb:hover{
    background-color: #555555;
}
.menu-button {
    background-color: var(--bg-light-color);
}
.menu-button span {
    background-color: var(--main-light-color);
}
.vertical-menu-content{
    background-color:var(--bg-light-color);
    border-color: var(--main-light-color);
}
.item{
    background-color: #555555;
    color: var(--bg-light-color);
}
.item:hover, .selected {
    background-color: lightgreen;
    color: var(--main-light-color);
}
table, pre{
    border: 2px solid var(--main-light-color);
}
td, th{
    border: 3px solid var(--main-light-color);
}
code {
    color: var(--main-light-color);
}
.copy-button {
    background-color: var(--main-light-color);
    color: var(--bg-light-color);
    border: none;
}
a {
    color: darkslateblue;
}
.card {
    background-color: lightgreen;
    color: #333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-description {
    color: black;
}
.navigation-panel a, .sub-navigation-panel a {
    background-color: var(--main-light-color);
    color: var(--bg-light-color);
}
header a, #hero, footer {
    color: var(--main-light-color);
}